
@font-face {
  font-family: "GothamPro"; /* Гарнитура шрифта */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro"; /* Гарнитура шрифта */
  font-weight: bold;
  font-style: normal;
}


// переменные
$white: #fff;
$blue: #40a0e6;
$green: #889454;
$black: #000;
$yellow: #f8e292;

body {
  font-family: PTSans, sans-serif;
  font-size: 20px;
}
strong, b {
  font-weight: bolder;
}


.first-screen {
  text-align: center;
  background: url("../_img/style/bkgr-firstscreen.jpg");
  background-size: cover;
  padding-top: 65px;
  .green {
    color: $green;
  }
  .small-logo-container {
    padding-top: 25px;

    .small-logo-txt {
      float: left;
      margin-top: 5px;
      margin-left: 20px;
      img {
        width: 125px;
        height: 125px;
      }
    }
  }
  .logo-container {
    text-align: center;
    width: 100%;
    .logo-box {
      display: inline-block;
    }
  }

  .contact-container {
    text-align: right;
    padding-top: 20px;
    .phone-icon {
      margin-top: 5px;
      .phone-icon-img {
        vertical-align: text-top;
        margin-top: 3px;
      }
      .phone-number {
        display: inline-block;
        margin-left: 10px;
        font-family: GothamPro, serif;
        font-weight: bold;
        font-size: 24px;
        margin-top: 25px;
      }
    }
    .recall-box {
      margin-top: 10px;
      .recall-link {
        font-family: GothamPro, sans-serif;
        font-size: 16px;
        color: $black;
        text-decoration: underline;
      }
    }
  }
  .special-offer {
    line-height: 70px;
    text-align: center;
    color: $black;
    .exclusive {
    }
    .capture {
      color: $green;
      padding-top: 40px;
      font-family: GothamPro, sans-serif;
      font-weight: lighter;
      font-size: 70px;
      text-transform: uppercase;
      span {
        font-family: GothamPro, sans-serif;
      }
    }
    .capture::after {
      content: "";
      display: inline-block;
      width: 270px;
      height: 4px;
      background-color: $green;
    }
    .pasta {
      margin-top: 20px;
    }
    .notice {
      margin-top: 10px;
      font-family: GothamPro, sans-serif;
      font-size: 24px;
      line-height: 150%;
    }
  }
}

.hause-done {
  margin-top: 80px;
  margin-bottom: 100px;
  font-size: 28px;
}

.club-life {
  padding-bottom: 70px;
  .description {
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
    font-family: GothamPro, sans-serif;
    color: #97979a;
  }
  .address {
    font-family: GothamPro, serif;
    text-align: center;
    padding-bottom: 20px;
    font-size: 16px;
    margin-top: 35px;
  }
  .club-features {
    margin-bottom: 70px;
    .club-features-item {
      margin-top: 30px;
      span {
        padding-left: 20px;
      }
    }
  }
  .item-container {
    vertical-align: middle;
    .description-item {
      display: inline-block;
      height: 100%;

    }
  }

}
.capture {
  margin-top: 60px;
  height: 78px;
  background: linear-gradient(-45deg, transparent 47%, #f4f4f4 47%, #f4f4f4 54%, transparent 54%, transparent 100%);
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  font-family: GothamPro, serif;
  vertical-align: middle;
  display: block;
  width: 100%;
  padding-top: 20px;
}
.geo-center {
  background: url("../_img/style/bckgr-video.jpg");
}
.club-hause {
  background: url("../_img/style/bckgr-video.jpg");
}
.infrastucture {
  background: url("../_img/style/bckgr-video.jpg");
}
.rolling-box {
  border-radius: 50%;
  padding-top: 5px;
  height: 290px;
  width: 290px;
  border: 1px dashed $yellow;
  .rolling {
    border-radius: 50%;
    height: 280px;
    width: 280px;
    text-align: center;
    padding: 4px;
  }
}
.geo-center__txt {
  color: $black;
  text-align: center;
  font-family: GothamPro, serif;
  font-size: 18px;
  margin-top: 20px;
}

.video-presentation {
  background: url('../_img/style/bckgr-video.jpg');
  text-align: center;
  padding-top: 65px;
  padding-bottom: 75px;

  .description {
    text-align: center;
    color: $white;
    font-size: 36px;
    text-transform: uppercase;
    font-family: BebasNeue, serif;
    strong {
      font-size: 48px;
    }
  }
}

.flat-studio {
  background: url('../_img/style/bkgr-paperwalls.jpg');
}
.flats  {
  padding-top: 75px;
  padding-bottom: 80px;
  .flat-items {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .btn-blue {
    margin-top: 30px;
    border: none;
    border-radius: 25px;
    height: 50px;
    background-color: $blue;
    font-size: 24px;
    font-family: BebasNeue, serif;
    text-transform: uppercase;
    width: 240px;
    padding-top: 12px;
  }
  .capture-2 {
    margin-top: 50px;
    text-transform: uppercase;
    font-family: BebasNeue, serif;
    font-size: 36px;
    text-align: center;
  }
}
.special-offer {
  background-color: transparent;
  font-family: "GothamPro", sans-serif;
  font-size: 16px;
  padding-top: 80px;
  padding-bottom: 60px;
  .capture-spec {
    font-family: BebasNeue, serif;
    font-size: 30px;
    background-color: #f4da7a;
    display: inline-block;
  }
  .capture-welcome {
    font-family: BebasNeue, serif;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 40px;
    line-height: 150%;
  }
  .checked {
    vertical-align: text-top;
  }
  .offer-item {
    padding-top: 15px;
    line-height: 150%;
    text-align: left;
  }
}

.form-container {
  border: 15px solid #f4da7a;
  background-color: $white;
  color: #000;
  form {
    padding-bottom: 40px;
    line-height: normal;
    .form-caption {
      font-family: BebasNeue, serif;
      text-transform: uppercase;
      font-size: 30px;
      margin-top: 40px;
      margin-bottom: 30px;
    }
    .call-to-action {
      margin-bottom: 30px;
      a {
        color: $blue;
        font-weight: bold;
        font-size: 18px;
      }
    }
    .input-box {
      width: 100%;
      padding-left: 20px;
      img {
        width: 15px;
        height: 15px;
        position: relative;
        left: -20px;

      }
      .input-field {
        border: none;
        padding-bottom: 15px;
        margin-top: 10px;
        border-bottom: 1px solid #a6a6a6;
        width: 90%;
        outline: none;
        margin-top: 20px;
      }
    }
    .btn-blue_form {
      color: $white;
      margin-top: 30px;
      border: none;
      border-radius: 25px;
      height: 50px;
      background-color: $blue;
      font-size: 20px;
      font-family: BebasNeue, serif;
      text-transform: uppercase;
      width: 240px;
      padding-top: 9px;
      box-shadow: 0px 21px 50px -16px #a6a6a6;
      cursor: pointer;
    }
  }
}

.features {
  padding-top: 70px;
  .caption {
    font-family: BebasNeue, serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
  }
  .features-item {
    margin-bottom: 50px;
    .features-item_txt {
      font-family: BebasNeue, serif;
      font-size: 30px;
      text-align: center;
      padding-top: 15px;
    }
    .description {
      font-size: 16px;
    }
  }
}
